 <!-- About Section -->
    <section class="first" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>I'm a Systems and Computer Engineer (Computer Science and Computer Engineering hybrid) with Software Development, R&D and Information Technology Management experience. I've previously worked with cloud computing technologies and I'm constantly looking for interesting things to keep me busy, like great ideas and people.</p>
                </div>
            </div>
        </div>
    </section>